.routine-detail-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.routine-desc-buttons-container {
  width: 100%;

  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.desc-button {
  width: 48%;
}

.routine-exercise-list-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.routine-exercise-container {
  margin-bottom: 5px;
  padding: .25rem 0;
  /* Position */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Shape */
  width: 100%;

  color: var(--color-text-white);

  border-bottom: 1px solid var(--color-text-white);
}