.log-page {
  display: flex;
  flex-direction: column;
  justify-content: start;

  overflow-y: hidden;
}

.log-buttons-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.log-buttons-container button {
  width: 48%;
}

.column-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  overflow-y: hidden;
}

.log-column {
  width: 66%;

  display: flex;
  flex-direction: column;
  justify-content: start;

  padding-right: 1rem;

  overflow-y: scroll;
}

.input-column {
  width: 33%;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.input-container {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-bottom: .25rem;
}

.input-container label {
  font-weight: bold;
}

.input-container input[type=number] {
  text-align: center;
  font-size: 1.25rem;
}

.input-container input[type=button] {
  text-align: center;
  font-size: 1.25rem;
}

.good-input {
  background-color: green;
}

.okay-input {
  background-color: darkgoldenrod;
}

.poor-input {
  background-color: darkred;
}

.input-container button {
  margin-top: .5rem;
  font-size: 1.1rem;
}

.log-date-container {
  margin-bottom: 1rem;
}

.log-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: .5rem;

  background-color: var(--color-background-secondary);

  border-radius: 5px;

  overflow: hidden;
}

.log-text {
  padding-left: .25rem;
  padding: .5rem 0 .5rem .25rem;
}

.form-text {
  height: 100%;
  width: 20%;
  text-align: end;
  font-size: 0.85rem;
  padding: .5rem .25rem;
}