.exercise-search-page {
  /* Position */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.search-container {
  width: 100%;
  margin-bottom: 1rem;
}

.search-container > input {
  width: 100%;
}

.exercise-list-container {
  /* Position */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.exercise-container {
  margin-bottom: 5px;
  padding: .5rem 0;
  /* Position */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Shape */
  width: 100%;

  color: var(--color-text-white);

  border-bottom: 1px solid var(--color-text-gray);
}

.exercise-container:last-child {
  border-bottom: none;
}