.exercise-search-container {
  /* Position */
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 1;
  /* Shape */
  width: 100vw;
  height: calc(100vh - 64px);
  border: 3px red solid;
  /* Color */
}

.search-container {
  width: 100%;
}

.search-container > input {
  width: 100%;
}

.exercise-list-container {
  /* Position */
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 1;
  /* Shape */
  width: 100%;
  overflow-y: scroll;
  /* Color */
}

.exercise-container {
  width: 100%;

  border: 2px yellow solid;
}