.sign-in-page {
  top: 0px;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.sign-in-container > button {
  margin-top: 5px;
}

.sign-in-error-container {
  height: 1rem;
}

.sign-in-link-container {
  margin-top: 5px;
}