.nav-container {
  width: 100vw;
  height: 78px;

  position: absolute;
  bottom: 0;  

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--color-background-secondary);

  z-index: 1000;
}

.nav-link {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: start;

  padding-top: 1rem;
}

.nav-link.active {
  background-color: var(--color-secondary)
}