.nav-container {
  width: 100vw;
  height: 64px;

  position: absolute;
  bottom: 0;  

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border: 2px white solid;

  z-index: 1000;
}

.link-container {
  height: 100%;
  width: 33.33%;

  display: flex;
  align-items: center;
  justify-content: center;
}