.App {
  width: 100vw;
  height: 100vh;
}

.content-container {
  width: 100%;

  position: relative;

  top: 0px;
  bottom: 64px;
}

.page-container {
  position: relative;
  top: 64px;
  margin: 1em;
}

.error-text {
  color: red;
}
