:root {
  --color-background: #242424;
  --color-background-secondary: #2C2C2C;
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;
  --color-secondary: #ffaf61;
  --color-text-white: #ffffffde;

  --size-border-radius-input: 5px;
  --size-border-radius-button: 20px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-white);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-hover);
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

button {
  border-radius: var(--size-border-radius-button);
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #171eab;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: var(--size-border-radius-input);
  border: 1px solid transparent;
  outline: solid 2px transparent;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  transition: outline-color 0.25s;
}
input:focus,
input:focus-visible {
  outline-color: var(--color-primary);
}

select {
  border-radius: var(--size-border-radius-input);
  border: 1px solid transparent;
  outline: solid 2px transparent;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  transition: outline-color 0.25s;
}
