.top-nav-container {
  width: 100vw;
  height: 64px;

  position: fixed;
  top: 0;
  
  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-background-secondary);

  z-index: 1000;
}

.back-button {
  color: white;
}