.exercise-detail-page {
  /* Position */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.exercise-info-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  margin-bottom: 5px;
}

.exercise-info-header {
  font-weight: bolder;
}

.muscle-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.muscle-tag {
  background-color: var(--color-primary);
  border-radius: 5px;

  width: min-content;
  word-wrap: normal;

  padding: 3px 3px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.category-level-equipment-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-container, .level-container, .equipment-container {
  text-align: center;
}

.instructions-container {
  margin-top: 1rem;
}

.instructions-container .exercise-info-header {
  text-align: center;
}

.instructions-list {
  list-style-position: inside;
}

.instructions {
  margin-bottom: .5rem;
}